# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Build output
frontend/dist/
frontend/build/
backend/dist/

# File uploads / Local static files (if stored locally)
backend/uploads/

# Operating System Files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
docker-compose.override.yml
