NODE_ENV=development
PORT=5000

# Neon DB PostgreSQL Connection String
# Example: postgresql://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require
DATABASE_URL=postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require

# Ensure you use a strong, generated string for JWT_SECRET in production
JWT_SECRET=your_jwt_secret_placeholder

